body{
	margin: 0px;
	font-weight: 300;
	font-family: 'Merriweather', Georgia, serif;
	background-image: url('twittler_clouds.png');
	background-color: #C0DEED;
	background-repeat: no-repeat;
	background-attachment: fixed;
}
/*#content_wrapper{
	width: 100%;
}*/
#welcome_banner{
	height: 80px;
	width: 100%;
}
#logo{
	float: left;
	padding: 10px;
	position: fixed;
}
#user_photo{
	float: left;
	padding: 4px;
	border-radius: 10px;
}
#message_container{
	position: relative;
	top: 20px;
	bottom: 200px;
	margin-left: 30%;
	margin-bottom: 20px;
	height: 100%;
	width: 500px;
}
.tweet_message{
	height: 80px;
	text-align: left;
	border-bottom: 1px solid #D3D3D3;
	background-color: white;
}
#app_title h1{
	float: left;
	font-family: 'Schoolbell', arial, serif;
	padding: 80px;
	font-size: 60px;
	position: fixed;
	top: 0px;
	right: 0px;
}

footer {
	margin-top: 20px;
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	height: 50px;
	text-align: left;
	background-color: #3180F2;
}
#footer_links {
	margin: 17px;
}

footer a:link {
	margin-right: 10px;
	color: #fff;
	text-decoration: none;
}

footer a:visited {
	color: #fff;
	text-decoration: none;
}